@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

#escuro {
    position: fixed;
    top: 30px;
    left: 20px;
}

#claro {
    position: fixed;
    top: 30px;
    left: 20px;
    display: none;
    color: white;
}

#main_page {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 212, 252);
    transition: 2s;
}

img {
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    animation-duration: 10s;
    animation-name: img-animation;
    animation-iteration-count: infinite;
}

@keyframes img-animation {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
                transform: rotate3d(1, 1, 0, 0deg);
      }
      50% {
        -webkit-transform: rotate3d(1, 1, 0, -180deg);
                transform: rotate3d(1, 1, 0, -180deg);
      }
      100% {
        -webkit-transform: rotate3d(1, 1, 0, -360deg);
                transform: rotate3d(1, 1, 0, -360deg);
      }
    }

h2{
    padding-left: 56px;
    font-size:medium;
}

td {
    text-align: center;
}

div {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow:0 0 20px rgb(103, 103, 103);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(194, 212, 252);
    border: 1px solid white;
    transition: 2s;
}

div > p {
    text-align: center;
    font-weight: 900;
}

div > input {
    width: 60%;
    margin-bottom: 10px;
    background-color: rgba(194, 212, 252, 0);
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    text-align: center;
}

div > input:focus {
    border-bottom: 2px solid white;
}
div > input:hover {
    border-bottom: 2px solid white;
}

div > #submit {
    background-color: rgba(194, 212, 252, 0);
    border-radius: 5px;
    border: 1px solid rgb(112, 112, 112);
    padding: 5px;
    transition: 0.3s;
    width: 60%;
    font-weight: 550;
    border: 1.4px solid white;
    color: rgb(116, 116, 116);
}

div > #submit:hover {
    background-color: white;
}

div > #submit:active {
    background-color: white;
    box-shadow:0 0 5px rgb(72, 72, 72);
}