body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario {
    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    box-shadow:0px 0 20px black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
