* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(101, 101, 101); 
  font-family:Arial, Helvetica, sans-serif; 
}


.progress {
  height: 5px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
.progress--bar {
  background-color: rgb(215, 255, 156);
  height: 100%;
  transition: all ease 0.5s;
}

.questionArea,
.scoreArea {
  display: none;
}

.questionArea {
  max-width: 500px;
  width: 100%;
}

.question {
  color: rgb(255, 255, 255); 
  font-size: 18px;
  margin: 20px 0;
}
.option {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgb(255, 255, 255); 
  border-radius: 10px;
  margin-bottom: 5px;
  color: rgb(89, 89, 89);
  font-size: 16px;
  cursor: pointer;
}
.option span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 10px;
  background-color: rgb(215, 255, 156);
  color: rgb(91, 91, 91);
}


.option:hover {
  background-color: rgb(65, 65, 65);
  color: white;
}


.scoreArea {
  width: 40%;
  background-color: rgb(233, 233, 233); 
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 10px white;
}
.prizeImage {
  width: auto;
  height: 100px;
  margin-bottom: 10px;
}
.scoreText {
  color: rgb(94, 94, 94);
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}
.scorePct {
  color: rgb(255, 255, 255); 
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0 0 5px rgb(63, 63, 63);
}
.scoreText2 {
  font-size: 16px;
  color: rgb(94, 94, 94);
  margin-bottom: 10px;
}

.scoreArea button {
  border: 1px solid rgb(73, 73, 73);
  border-radius: 10px;
  background-color: rgb(215, 255, 156); 
  color: black;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.scoreArea button:hover {
  background-color: rgb(194, 255, 104); 
}

footer {
  margin-top: 20px;
  color: white;
  font-size: 13px;
}
